<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>YelpCamp</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


 <link rel="stylesheet" href="/css/style.css">
  
  </head>
<body>

		<div class="container">
			<h1>Welcome to my todo app</h1>

			<div class="row ">
				<div id="form" class="col-md-9 col-md-offset-1">
					<form action="/todo" class="form-inline" method="post">
						<div class="form-group">
							<input id="todo" class="form-control" type="text" name ="title" required placeholder="your todo?">
						</div>
						<input type="submit" value="Add todo" class="btn btn-primary">
					</form>
					
				</div>

				<div id="todoContainer" class="col-md-6">
				<% todos.forEach(function(todo){ %>
					<div class="well">
						<ul>
							<li><%= todo.title %></li>
							<a  class="btn btn-warning todoEdit" href="/todo/<%=todo._id %>/edit">Edit</a>
							<form class="todoDelete deleteForm"  action="/todo/<%=todo._id %>?_method=DELETE" method="post">
                      <input type="submit" class="btn btn-danger pull-right showDelete" value="Delete">
                    </form>

                    <form class="todoUpdate" action="/todo/<%=todo._id %>?_method=PUT" rel="<%=todo._id %>" method="post">
        
                      <div class="form-group">
                        <input  type="text" class="form-control textedit" name="title" placeholder="new todo?" required> 
                      </div>
                      
                      <input type="submit" class="btn btn-primary ">
                    </form> 
						</ul>
					</div>
				<% })%>
				</div>
			</div>
		</div>
	



<script src="/js/script.js"></script>
</body>
</html>